<div class="main shops-index">
  <div class="container">
    <% @shops.each do |shop| %>
        <div class="shops-index-item">
            <%= shop.name %>
        </div>
    <% end %>
  </div>
</div>