<div class="main shops-index">
  <div class="search-form">
    <input type="search" placeholder="ショップ名で検索">
    <input type="submit" value="検索">
  </div>
  <div class="container">
    <% @shops.each do |shop| %>
        <div class="shops-index-item">
            <div class="shop-left">
              <img src="<%= "/shop_icons/#{shop.icon_name}" %>">
            </div>
            <div class="shop-right">
              <%= link_to(shop.name, "/shops/#{shop.id}") %>
            </div>
        </div>
    <% end %>
  </div>
</div>