<div class="main shops-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form shops-form">
      <div class="form-body">
        <p>メールアドレス</p>
        <input>
        <p>パスワード</p>
        <input type="password">
        <input type="submit" value="ログイン">
      </div>
    </div>
  </div>
</div>