<div class="main shops-password_reset">
  <div class="container">
    <h1 class="form-heading">パスワードのリセット</h1>
    <div class="form">
      <div class="form-body">
        <%= form_tag("/shops/#{@current_shop.id}/password_update") do %>
            <div class="form-error">
                <%= @error_message %>
            </div>
            <p>現在のパスワード</p>
            <input name="current_password" type="password">
            <div class="form-error">
                <% @shop.errors.full_messages.each do |message| %>
                    <%= message %>
                <% end %>
            </div>
            <p>新しいパスワード</p>
            <input name="new_password" type="password">
            <input type="submit" value="リセット">
        <% end %>
      </div>
    </div>
  </div>
</div>