<div class="main shop-show">
  <div class="container">
    <div class="shop">
      <h2><%= @shop.name %></h2>
      <p class="shop-show-url">
        <%= link_to("公式サイト", @shop.url)%>
      </p>
      <%= link_to("編集", "/shops/#{@shop.id}/edit") %>
    </div>
  </div>
</div>