<div class="main shops-show">
  <div class="container">
    <div class="shops-show-item">
      <p>
        <%= @shop.name %>
      </p>
      <p class="shops-show-url">
        <%= link_to("公式サイト", @shop.url)%>
      </p>
    </div>
  </div>
</div>