<div class="main shops-show_item">
  <div class="container">
    <% if @items %>
      <% @items.each do |item| %>
          <div class="shops-index-item">
              <div class="shop-left">
                <img src="<%= "/item_icons/#{item.icon_name}" %>">
              </div>
              <div class="shop-right">
                <%= link_to(item.name, "/shops/#{item.id}") %>
                <%= link_to("編集", "/shops/#{params[:id]}/#{item.id}/edit_item", {class: "link"}) %>
                <%= link_to("削除", "/shops/#{params[:id]}/#{item.id}/destroy_item", {method: "post", class: "link"}) %>
              </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>