<div class="overview-main">
    <h2>今できること</h2>
    <ul>
        <li class="overview-link">
            <%= link_to("ショップの登録、ログイン機能", "/owner") %>
        </li>
        <li class="overview-link">
            <%= link_to("adminユーザーログイン [ID:admin Pass:admin]", "/admins/login") %>
        </li>
        <li class="overview-link">
            <%= link_to("キーワード検索", "/") %>
        </li>
        <li>
            <p>ジャンル設定</p>
        </li>
        <li class="overview-link">
            <%= link_to("ジャンル絞り込み", "/") %>
        </li>
    </ul>

    <h2>実装したいこと -TODO-</h2>
    <ul>
        <li>一般ユーザー登録(メール認証)</li>
        <li>商品登録</li>
        <li>商品評価</li>
        <li>口コミ投稿</li>
        <li>自分たちのショップページを編集(Markdown記法)</li>
        <li>あなたへのおすすめ</li>
    </ul>
    <p>///etc...</p>
</div>