<div class="owner-main">
    <div class="btn-square-shadow">
        <%= link_to("新規登録", "/shops/new") %>
    </div>
    <div class="btn-square-shadow">
        <%= link_to("ログイン", "/shops/login_form") %>
    </div>
</div>